* {
  box-sizing: border-box;
}

html {
  font-family: "Lucida Sans", sans-serif;
  background-color: #088404;
}

body {
  margin: 0;
}

:root {
  --shape-border: 2px black solid;
}

.header {
  background: #888404;
  height: 100px;
  width: 100%;
  border: var(--shape-border)
}

.content {
  display: grid;
  grid-template-columns: auto;
  gap: 50px;
}

.content-section {
  position: relative;
}

.section-1 {
  height: 100px;
}

.section-2 {
  display: flex;
  gap: 50px;
  align-items: center;
}

.section-3 {
  top: 25px;
}

.squares-container {
  display: flex;
  gap: 20px;
  transform: rotate(-45deg);
  position: absolute;
  top: 35%;
}

.square {
  background-color: #ff0404;
  height: 50px;
  width: 50px;
  border: var(--shape-border)
}

.rectangles-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rectangle {
  background-color: blue;
  height: 10px;
  width: 75px;
  border: var(--shape-border);
}

.circle {
  background-color: #048488;
  height: 50px;
  width: 50px;
  border: var(--shape-border);
  border-radius: 50%;
  float: left;
}

.rectangle_text {
  background-color: blue;
  height: 250px;
  width: 100px;
  text-align: center;
  border: var(--shape-border);
}


@media (min-width: 583px) {
  .content {
    display: grid;
    grid-template-columns: auto auto;
  }

  .section-3 {
    grid-row: 1 / 3;
    grid-column: 2/3;
  }

  .rectangle_text {
    background-color: red;
  }
}

@media (min-width: 900px) {

  .content {
    grid-template-columns: auto auto auto;
  }

  .section-3 {
    grid-row: auto;
    grid-column: auto;
  }

  .rectangle_text {
    background-color: white;
  }
} 
